name: Integration-Tests

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: read

env:
  RUSTFLAGS: -C debuginfo=0 # Do not produce debug symbols to keep memory usage down

jobs:
  test-integration:
    name: test ${{ matrix.os }}-${{ matrix.python-version }}
    environment: integration
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        python-version: ["3.13"]

    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4

      - name: install rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: cache rust
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.os }}-${{ matrix.python-version }}-v1

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create virtual environment
        working-directory: ./py-potato
        run: make setup.project

      - name: Test API Clients
        working-directory: ./py-potato
        run: |
          make test.integration.openai
          make test.integration.gemini
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

      - name: Test Authenticated API Clients
        working-directory: ./py-potato
        run: |
          make test.integration.vertex
        env:
          GOOGLE_ACCOUNT_JSON_BASE64: ${{ secrets.GOOGLE_ACCOUNT_JSON_BASE64 }}
