name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

env:
  PACKAGE_NAME: potato_head
  RUSTFLAGS: -C debuginfo=0

jobs:
  rust-release:
    if: github.event_name == 'release'
    environment: release
    name: Release-Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable

      - name: cache rust
        id: cargo_release_cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}-cargo-release

      - name: Clear cargo registry index
        run: rm -rf ~/.cargo/registry/index

      - name: Switch to main branch
        run: git checkout main

      - name: Run release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_REGISTRY_TOKEN }}
